<app-sub-header titulo="Direccion seleccionada" ruta="/direcciones"></app-sub-header>

<ion-content>
  <div class="centrado">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Calle</ion-label>
              <ion-input [(ngModel)]="direccion.calle" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero exterior</ion-label>
              <ion-input [(ngModel)]="direccion.numero_exterior" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Numero interior</ion-label>
              <ion-input [(ngModel)]="direccion.numero_interior" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Colonia</ion-label>
              <ion-input [(ngModel)]="direccion.colonia" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Ciudad</ion-label>
              <ion-input [(ngModel)]="direccion.ciudad" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Estado</ion-label>
              <ion-input [(ngModel)]="direccion.estado" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">País</ion-label>
              <ion-input [(ngModel)]="direccion.pais" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Código postal</ion-label>
              <ion-input [(ngModel)]="direccion.codigo_postal" clear-input="true"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Dirección de</ion-label>
              <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="direccion.address_of">
                <ion-select-option value="Casa">Casa</ion-select-option>
                <ion-select-option value="Oficina">Oficina</ion-select-option>
                <ion-select-option value="Departamento">Departamento</ion-select-option>
                <ion-select-option value="Otra">Otra</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-footer class="ion-no-border">
        <ion-toolbar>

          <ion-row>
      
            <ion-col>
                <ion-button shape="round"
                            expand="full"
                            size="small"
                            fill="outline"
                            color="secundario"
                            (click)="actualizarDireccion()">
                  Editar
                </ion-button>
            </ion-col>
      
            <ion-col>
              <ion-button shape="round"
                          expand="full"
                          size="small"
                          fill="outline"
                          color="danger"
                          (click)="eliminarDireccion()">
                Eliminar
              </ion-button>
            </ion-col>
      
          </ion-row>
      
      
      
        </ion-toolbar>
      </ion-footer>
    </ion-grid>
  </div>
</ion-content>
