<app-sub-header titulo="Terminos y condiciones" ruta="/registro"></app-sub-header>

<ion-content>
  <h2 class="centrado">AVISO DE PRIVACIDAD.</h2>
  <div class="justificado">
    <b>
      <p>RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</p>
    </b>
    <p>CLINICA DENTAL PRODENT con domicilio en Av. Villa Hermosa No. 229 col. Progreso., es responsable
      del tratamiento de sus datos personales conforme a este Aviso de Privacidad.</p>
    <b>
      <p>DATOS QUE SE RECABAN</p>
    </b>
    <p>Los datos personales de contacto y/o de identificación que tratará CLINICA DENTAL PRODENT son
      nombre, edad, sexo, domicilio, correo electrónico, teléfono (móvil y/o fijo) y registro federal de
      contribuyentes. </p>
    <b>
      <p>DATOS SENSIBLES</p>
    </b>
    <p>CLINICA DENTAL PRODENT recabará y tratará datos sensibles, relacionados con el estado de salud,
      antecedentes e historial clínico e información sobre el modo de vida, necesarios o convenientes
      para las finalidades arriba señalados. Los datos personales sensibles serán mantenidos y tratados
      con estricta seguridad y confidencialidad para fines relacionados con la prestación de servicios de
      salud y conforme a este Aviso de Privacidad.</p>
    <b><p>FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES</p></b>
    <p>Los Datos Personales en posesión de la CLINICA DENTAL PRODENT serán utilizados para las
      siguientes finalidades:</p>
<p>a) Finalidades necesarias para el mantenimiento de la relación con el titular de los datos: - Prestación
  de servicios médico-hospitalarios, cirugía, atención de enfermería, servicio de placas dentales,
  radiografías etc. - Creación, estudio, análisis, actualización y mantenimiento de archivo clínico. -
  Facturación y cobranza por servicios. - Mantenimiento de registros para seguimiento a servicios.</p>
  <p>b) Finalidades distintas: - Estudios, registros, estadísticas y análisis de información de salud. -
    Mantenimiento de registros para prestación de servicios en el futuro. Análisis estadísticos y de
    mercado. - Promoción y mercadeo de productos y servicios de la CLINICA DENTAL PRODENT u otras
    empresas pertenecientes al mismo grupo corporativo. </p>
    <p>En caso de que los titulares no deseen que CLINICA DENTAL PRODENT dé tratamiento a sus datos
      personales para las finalidades previstas en el inciso b) anterior, tendrán un plazo de 5 (cinco) días
      para manifestar su negativa dirigiendo una comunicación al responsable de la CLINICA DENTAL
      PRODENT enviando un correo electrónico a la siguiente dirección: ……………………………………………….</p>




  </div>

</ion-content>