<app-header titulo="Citas"></app-header>

<ion-toolbar>

    <ion-segment (ionChange)="segmentChanged($event)">

        <ion-segment-button value="todos">
            <ion-label>Todos</ion-label>
        </ion-segment-button>

        <ion-segment-button value="Activa">
            <ion-label>Activas</ion-label>
        </ion-segment-button>

        <ion-segment-button value="Cancelada">
            <ion-label>Cancel.</ion-label>
        </ion-segment-button>

        <ion-segment-button value="Finalizada">
            <ion-label>Finali.</ion-label>
        </ion-segment-button>

    </ion-segment>
</ion-toolbar>

<ion-content>
    <div class="centrado">
        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <ion-item *ngFor="let c of lista_citas | filtro: estatus: 'estatus'" detail (click)="detallesCita(c.id_cita)">
                            <ion-label>
                                <h3>{{c.titulo}}</h3>
                                <small>{{c.fecha}} - {{c.hora}}</small>
                            </ion-label>

                            <ion-label slot="end" class="ion-text-right">
                                {{c.estatus}}
                            </ion-label>

                        </ion-item>
                        <ion-item *ngIf="lista_citas == null" color="terciario" class="ion-no-border">
                            <ion-label class="ion-text-center">
                                No hay citas
                            </ion-label>
                        </ion-item>
                            
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>