.centrado {
    text-align: center;
}

ion-toggle {
    --background: #000;
    --handle-background: #5884B5;


    --background-checked: #D2ECFB;
  
    
    --handle-background-checked: #5884B5;
  }